.first-part{
    display: flex;
    margin: 20px;
    padding: 0%;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    height: 80%;
    width: 80%;
    padding-left: 40px;
    padding-top: 40px;
}
.half-width h1{
    font-size: 70px;
    border-left: 5px solid maroon;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 30px;
}
.yellow{
    color: rgb(95, 64, 5);
}
.button{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(orange,rgb(248, 6, 6));
    font-weight: 800;
    border-radius: 10px;
    margin-bottom: 20px;
}
.bottom{
    font-size: 20px;
    font-weight: 200;
    margin-top: 40px;
    margin-bottom: 40px;
}
.top{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}
.second-part h1{
    font-size: 50px;
    text-align: center;
}
.deep-blue{
    color: rgb(16, 16, 49);
}
.orange{
    color: darkorange;
}
.container{
    display: flex;
    width: 33%;
    margin: auto;
    margin-top: 40px;
}
.mission{
    width: 33%;
    background:  #d81d1d80;
    border-radius: 10px;
    margin-left: 5px;
    padding: 12px;
}
.mission img {
    width: 45%;
}
.vission img{
    width: 45%;
}
.vission{
    width: 34%;
    background: #ffecc085;
    border-radius: 10px;
    padding: 12px;
    margin-left: 5%;
}
.goal img{
    width: 45%;
}
.goal{
    width: 33%;
    background:  #7c98b1;
    border-radius: 10px;
    margin-left: 5%;
    padding: 12px;
}